html {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
}


.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 250px;
    height: auto;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}

.qrcode {
    border: 2px solid none;
    display: flex;
    width: 250px;
    height: 250px;
    justify-content: center;
    background-image: url(./images/image-qr-code.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.content {
    border : 2px solid none;
    width: 250px;
}

.sometext {
    border : 2px solid none;
    width: 230px;
    padding: 10px;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 0.9rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

@media screen and (min-width: 375px) {
    .container {
        padding: 15px;
        width: 300px;
    }
    
    .qrcode {
        width: 300px;
        height: 300px;
    }
    
    .content {
        width: 300px;
    }
    
    .sometext {
        width: 270px;
        padding: 15px;
    }

    h2 {
        font-size: 1.4rem;
    }
    p {
        font-size: 1.1rem;
    }
}

/*
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)
*/